---
layout: default
---

{% for post in paginator.posts %}
        <h3><a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}</a></h3>
        <span class="post-date u-pull-left">
        {{ post.date | date: "%B %e, %Y" }}
    	</span><br>
  		<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
  		<a href="{{ post.url | prepend: site.baseurl }}" class="button">
    	Selengkapnya</a><br><br>
  
{% endfor %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item u-pull-right" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item u-pull-right">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item u-pull-left" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item u-pull-left">Newer</span>
  {% endif %}
</div>
