
<footer class="site-footer">
  <div class="wrapper">
        <div class="sosial-media">
          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}">
              Github
           </a>
          {% endif %}
&nbsp
        {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}">
             Twitter
           </a>
          {% endif %}
&nbsp
        {% if site.facebook_username %}
            <a href="https://facebook.com/{{ site.facebook_username }}">
             Facebook
           </a>
          {% endif %}
</div>
&copy2015 - Ma'ruf
</div>
</footer>
