{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
      <span class="button u-pull-left">&laquo; Prev</span></a>&nbsp
  {% else %}
    <span class="button  u-pull-left">&laquo; Prev</span>&nbsp
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <div class="button u-pull-center">{{ page }}</div>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}"><div class="button u-pull-center">{{ page }}</div></a>
    {% else %} 
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"><div class="button u-pull-center">{{ page }}</div></a>
    {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="button u-pull-right">Next &raquo;</span></a>
  {% else %}
    <span class="button u-pull-right">Next &raquo;</span>
  {% endif %}
</div>
{% endif %}