/**
 * Site header
 */
.site-header {
    border-top: 7px solid $grey-color-dark;
    border-bottom: 2px solid $grey-color-light;
    min-height: 75px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    margin-top: 10px;
    font-family: "Helvetica Neue";
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    // Jarak antar nav items, tapi tidak di list awal
        &:not(:last-child) {
            margin-right: 15px;
        }

    &,
    &:visited {
        color: #404040;
    }
}

.site-nav {
    margin-top: 23px;
    float: left;
    line-height: 56px;
    position: relative;

    .menu-icon {
        display: none;
    }

    .page-link {
        font-family: "Helvetica Neue";
        color: #707070;
        font-size: 27px;
        line-height: $base-line-height;

        // Jarak antar nav items, tapi tidak di list awal
        &:not(:first-child) {
            margin-left: 9px;
        }
    }

    @include media-query($on-palm) {
        .page-link {
            display: inline;
            float: center;
            padding: -4px -4px ;
            font-size: 26px;
            &:not(:last-child) {
            margin-left: 8px;
        }
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-size: 17px;
    text: center;
    align: center;
    text-align: center;
    color: #ffffff;
background-image: linear-gradient(45deg,
 #000000 30%,
 #666666 30%,
 #666666 60%,
 #CCCCCC 60%,
 #CCCCCC 90%,
 #ffffff 90%)
}
.sosial-media {
    font-size: 19px;
   a {
    color: #ffffff;

    }
    
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
    text-align: center;
    
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: center;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}


.post-title {
    float: center;
    align: center;
    text-align: center;
    text: center;
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
        @include media-query($on-palm) {
            font-size: 20px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-date {
  display: block;
  margin-top: -.8rem;
  margin-bottom: -.1rem;
  color: #9a9a9a;
  text-align: center;
  font-size: 19px;
}

// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts {
  padding-left: 0;
  list-style: none;

  h3 {
    margin-top: 0;
  }

  li {
    small {
      font-size: 80%;
      color: #999;
    }

    a:hover {
      color: #a0a0a0;
      text-decoration: none;

      small {
        color: inherit;
      }
    }
  }
}