.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-home {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: black; // works because "fill" was set to "currentColor"
}
