.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-home {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: black; // works because "fill" was set to "currentColor"
}

.icon-footer{
	font-size: 20px;
	color: black;
}

.icon-twitter {
	font-size: 20px;
	color: #0070ff;
}
.icon-frown {
	font-size: 100px;
}